<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" 
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultParameters</key>
	<dict>
		<key>TrackpadHScrollThreshold</key>
		<integer>0</integer>
		<key>TrackpadHScrollInvert</key>
		<false/>
		<key>TrackpadVScrollThreshold</key>
		<integer>0</integer>
		<key>TrackpadVScrollInvert</key>
		<false/>
		<key>TrackpadCScroll</key>
		<false/>
		<key>TrackpadCScrollThreshold</key>
		<integer>2</integer>
		<key>TrackpadCScrollScale</key>
		<integer>2</integer>
		<key>TrackpadCScrollInvert</key>
		<false/>
        <key>TrackpadCScrollOnly</key>
        <true/>
		<key>TrackpadScrollIgnoreWeakAxis</key>
		<false/>
		<key>TrackpadClickMapTo</key>
		<integer>0</integer>
		<key>TrackpadTapMapTo</key>
		<integer>0</integer>
		<key>TrackpadTwoFingerClickMapTo</key>
		<integer>1</integer>
		<key>TrackpadScrollResolution</key>
		<integer>6553600</integer>
		<key>TrackpadTapDownTime</key>
		<integer>25</integer>
	</dict>
</dict>
</plist>

